<ng-container class="container" *ngIf="teammatesObject[employeeTeams[0]?.id]">

    <label>Teammates</label>
    <div *ngFor="let team of employeeTeams">
    <app-employee-table *ngIf="teammatesObject[team.id]" [title]='team.name' [employees]="teammatesObject[team.id]">
    </app-employee-table>
    </div>

</ng-container>

<!--<div>-->
<!--  <label>Your team(s).</label>-->

<!--  <ul class="list-group">-->
<!--    <li class="list-group-item" *ngFor="let team of employeeTeams">{{team.name}}</li>-->
<!--  </ul>-->
<!--</div>-->


