<ngb-alert *ngIf="successMessage" [type]="alertType" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<form>
  <div *ngIf="isRequired" class="alert alert-warning" role="alert">
    You need to fill your profile to activate your account.
  </div>
  <div class="form-group">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" #firstNameInput
             [value]="employeeDto ? employeeDto.firstName : ''" required/>

      <div *ngIf="updateErrors && updateErrors.firstName" class="alert alert-danger" role="alert">
        {{updateErrors.firstName}}
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" #lastNameInput
             [(ngModel)]="updateRequestDto.lastName"
             [value]="employeeDto ? employeeDto.lastName : ''" required>
      <div *ngIf="updateErrors && updateErrors.lastName" class="alert alert-danger" role="alert">
        {{updateErrors.lastName}}
      </div>
    </div>

    <div class="form-group">
      <label for="mobileNumber">Mobile number</label>
      <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" #mobileNumberInput
             [(ngModel)]="updateRequestDto.mobileNumber"
             [value]="employeeDto ? employeeDto.mobileNumber : ''" required>
      <div *ngIf="updateErrors && updateErrors.mobileNumber" class="alert alert-danger" role="alert">
        {{updateErrors.mobileNumber}}
      </div>
    </div>

    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="date" class="form-control" id="birthday" name="birthday" #birthdayInput
             [(ngModel)]="updateRequestDto.birthday"
             [value]="employeeDto ? employeeDto.birthday : ''" required>
      <div *ngIf="updateErrors && updateErrors.birthday" class="alert alert-danger" role="alert">
        {{updateErrors.birthday}}
      </div>
    </div>


    <label for="additionalInfo">Additional info:</label>
    <textarea class="form-control" rows="5" id="additionalInfo" name="additionalInfo" #additionalInfoInput
              [(ngModel)]="updateRequestDto.additionalInfo"
              [value]="employeeDto ? employeeDto.additionalInfo : ''"></textarea>
  </div>
  <button type="submit" (click)="updateProfile(firstNameInput.value,lastNameInput.value,
      mobileNumberInput.value,birthdayInput.value,additionalInfoInput.value)" class="btn btn-primary">Submit
  </button>

</form>
<ng-container>
  <label>Choose your team(s).</label>
  <div *ngIf="isRequired" class="alert alert-warning" role="alert">
    You need to fill your profile to choose your team(s).
  </div>
  <app-employee-to-team-interaction (messageEmitter)="showMessage($event.alert, $event.msg)" *ngIf=" isUserActive" [allTeams]="allTeams"
                                    [employeeTeams]="employeeTeams"
                                    (employeeTeamsChange)="getTeamsOfEmployee()"></app-employee-to-team-interaction>
</ng-container>
<div>
  <label>Your team(s).</label>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let team of employeeTeams;let i = index">
      {{team.name}}
      <form>

        <label for="getNotifications">Get notifications from the team</label>
        <input type="checkbox" id="getNotifications" [checked]="true"  name="getNotifications" #getNotificationsInput>

        <label for="sendNotifications"> Send notifications to the team</label>
        <input type="checkbox" id="sendNotifications" name="sendNotifications" #sendNotificationsInput>
        <br/>

        <input type="submit" class="btn btn-primary" (click)="updateNotificationsForTeam(team.id,
         sendNotificationsInput.checked,
         getNotificationsInput.checked)">
      </form>
    </li>
  </ul>
</div>
