<ng-container *ngIf="isReady">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login">Login page</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link " routerLink="/user-page">User page</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link " routerLink="/user-update-page">Update info</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link " (click)="authService.logout()" href="">Log out</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
</ng-container>
