<div *ngIf="employeeTeams.length > 0">
  <label>Exit the team.</label>
  <label>
    <select  #selectTeamToExit >
      <option *ngFor="let team of employeeTeams" value="{{team.id}}">{{team.name}}</option>
    </select>
    <button [disabled]="!selectTeamToExit.value"  (click)="removeEmployeeFromTeam(toNumber(selectTeamToExit.value))">Exit</button>
  </label>
</div>

<div>
  <label>Join the team.</label>
  <label>
    <select #selectTeamToJoin>
      <option *ngFor="let team of allTeams" value="{{team.id}}">{{team.name}}</option>
    </select>
    <button (click)="addEmployeeToTeam(toNumber(selectTeamToJoin.value))">Join</button>
  </label>
</div>


