<label *ngIf="title">Teammates from {{title}}</label>

<ng-container *ngIf="employees">
<div class=" mat-elevation-z8">
<mat-table *ngIf="employees"  [dataSource]="dataSource" matSort matSortStart="desc">

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>First name</mat-header-cell>
    <mat-cell *matCellDef="let employeeDto">{{employeeDto.firstName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Last name</mat-header-cell>
    <mat-cell class="description-cell"
              *matCellDef="let employeeDto">{{employeeDto.lastName}}</mat-cell>

  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let employeeDto">{{employeeDto.email}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="birthday">
    <mat-header-cell *matHeaderCellDef mat-sort-header>birthday</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let employeeDto" >{{employeeDto.birthday}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="phoneNumber">
    <mat-header-cell *matHeaderCellDef>Phone Number</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let employeeDto">{{employeeDto.phoneNumber}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
  <mat-paginator   [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</ng-container>
