<div class="container">
  <h1>Login page</h1>
  <form  (ngSubmit)="onSubmit()">
  <div *ngIf="isFailedToAuthenticate" class="alert alert-danger" role="alert">
    <label [textContent]="authFailureMessage ? authFailureMessage: 'Unable to authenticate.'" ></label>
  </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email"  [(ngModel)]="loginRequest.email" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password"  [(ngModel)]="loginRequest.password" required>
    </div>

    <button type="submit" (submit)="onSubmit()" class="btn btn-success">Submit</button>
  </form>
</div>
